#blog-container {
  max-width: 800px;
  margin: 30px auto;
}
.blog-post:hover{
  transform: scaleY(2);
}
.blog-post {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 40px;
  text-align: left;
}

.blog-post h3 {
  margin-top: 0;
  color: #ffad60;
}

.blog-post p {
  color: #fff;
}
